:root {
  --font-titles: "Abril Fatface", sans-serif;
  --font-text: "Lato", sans-serif;
  --font-day: "Rubik Mono One", sans-serif;
  --color-violet-dark: #4056a1;
  --color-violet-light: #9aa6c9;
  --color-yellow: #d79922;
  --color-redYellowGradient: linear-gradient(330deg, #fff59a 20%, #ff6d6d 100%);
  --color-blueGreenGradient: linear-gradient(
    150deg,
    #569aff 10.21%,
    #88dfab 84.57%
  );
  --color-violet-more-dark: #363645;
  --color-pink-violet: #e1b4e5;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: var(--font-text);
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font: inherit;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 25px;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
}
