.header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  background-color: #ffff;
  transition: 500ms ease;
}

.header__content {
  padding: 25px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  position: relative;
}

.header__container {
  justify-content: center;
  align-items: center;
}

.header__block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__block--mini {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__text {
  font-size: 1.2rem;
  color: #d79922;
  font-family: var(--font-titles);
  letter-spacing: 1.2px;
  width: auto;
  white-space: nowrap;
}

.header--gradient {
  background: linear-gradient(45deg, #d79922, #ff6d6d, #569aff);
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
