.navigation {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  justify-content: center;
}

.navigation__list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  justify-content: space-around;
}

.navigation__link {
  margin: 10px;
  text-align: center;
}

.navigation__link.active {
  color: var(--color-violet-dark);
}

.navigation__link__inactive {
  color: var(--color-yellow);
}
