.home-page {
  padding: 100px 0;
  background-color: #fcf6ee;
}

.home-page__container {
  justify-content: center;
  align-items: center;
}

.home-page__section {
  padding-top: 100px;
}

.home-page__block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page__block--50 {
  width: 50%;
}

.home-page__block--image {
  margin-left: -10px;
  padding-left: 20px;
  max-width: 600px;
}

.home-page__block--mini {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page__title {
  font-size: 1.3rem;
  font-family: var(--font-titles);
  letter-spacing: 3px;
  color: var(--color-violet-dark);
  padding: 50px 0 20px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.home-page__salutation {
  font-size: 3rem;
  font-family: var(--font-titles);
  letter-spacing: 5px;
  color: var(--color-violet-dark);
  padding-bottom: 15px;
}

.home-page__presentation {
  max-width: 600px;
  font-size: 1.3rem;
  color: var(--color-violet-dark);
  padding-bottom: 10px;
}

.home-page__presentation--change {
  max-width: 500px;
  font-size: 1.8rem;
  color: var(--color-violet-more-dark);
  padding-bottom: 15px;
}

.anchor {
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  justify-content: center;
  display: flex;
  color: var(--color-violet-more-dark);
}

.anchor__container {
  display: flex;
  justify-content: left;
}

.anchor__gradient--large {
  background: var(--color-blueGreenGradient);
  border-radius: 6px;
  border: none;
  color: var(--color-violet-more-dark);
  width: 30%;
  margin-top: 23px;
  margin-right: 20px;
  padding: 10px;
  transition: all;
  transition-duration: 300ms;
}

.anchor__gradient--large:hover {
  background: var(--color-redYellowGradient);
  padding: 10px;
}

.is-colored {
  background: linear-gradient(45deg, #d79922, #ff6d6d, #569aff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  .home-page__block--50 {
    width: 100%;
  }

  .home-page__block--image {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .anchor__gradient--large {
    width: 60%;
    font-size: 0.95rem;
  }
}
